# RStudio Files
.Rproj.user
# Data Files
.RData
/vignettes/cache/
*.[Rr][Dd][SsAa]
*.txt
*.html
.Ruserdata
.Rhistory
*GSE*
*_cache
# Merge residuals
*.orig
# compressed files
*.gz
# databases
*.sqlite
.DS_Store
SingleCellMultiModal.Rproj
